.about-head {
    display: grid;
    grid-template-columns: 240px 1fr;
    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.socialLinks {
    margin-top: 5px;
    img {
        width: 32px;
        margin-right: 10px;
    }
}
.head-name {
    margin-top: 0px;
    margin-bottom: 8px;
}
.subttl {
    color: #888;
    font-size: 14pt;
}

.key-skills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .skill {
        font-size: 10pt;
        background-color: rgb(255, 255, 255);
        border: 1px solid #aaa;
        color: rgb(89, 89, 168);
        padding: 3px 5px;
        border-radius: 8px;
        text-align: center;
        white-space: nowrap;
    }
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 90px;
}

.blockTitle {
    margin-top: 40px;
    font-size: 14pt;
    text-transform: uppercase;
}
.summary {
    margin-top: 10px;
    line-height: 1.8em;
}

.jobHistory {
    padding-bottom: 30px;
    .company {
        margin-top: 10px;
        margin-bottom: 20px;
        
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                
        padding: 10px;

        &:hover {
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12)
        }
        .compHead {
            display: grid;
            grid-template-columns: 60px 1fr;
            column-gap: 10px;
        }
        .compLogoBox {
            min-height: 50px;
        }
        .compLogo {
            width: 48px;
        }
        .compName {
            font-size: 12pt;
            
        }
        .compMultiName {
            font-weight: 500
        }
        .compJobName {
            font-size: 12pt;
            font-weight: 500
        }
        .compDuration {
            font-size: 10pt;
            color: #666;
        }
        .role {
            margin-bottom: 10px;
            .roleTitle {
                font-size: 12pt;
                font-weight: 500
            }
            .roleTime {
                color: #666;
            }
        }
        .roleInfoHidden {
            display: none;
        }
        .showDetailsLink {
            font-size: 10pt;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #66b;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}