<div class="main-content" *ngIf="!loading">
    <div class="about-head">
      <div>
        <img src="assets/fli_600x600.png" class="profile-pic">
      </div>
      <div>
        <div class="mat-h1 head-name">{{ cv.name }}</div>
        <div class="subttl">{{ cv.title }}</div>
        <div class="key-skills">
          <div class="skill" *ngFor="let skill of cv.keySkills">{{skill}}</div>
        </div>
        <div class="socialLinks">
          <a [href]="cv.linkedIn" *ngIf="cv.linkedIn"><img src="assets/LI-In-Bug.png"></a>
          <a [href]="cv.gitHub" *ngIf="cv.gitHub"><img src="assets/github-mark.png"></a>
        </div>
      </div>
    </div>
    <div class="blockTitle">Summary</div>
    <div class="summary">
      {{ cv.summary }}
    </div>
    <div class="blockTitle">Professional Experience</div>
    <div class="jobHistory">
      <div class="company" *ngFor="let job of cv.jobs">
        <div class="compHead">
          <div class="compLogoBox"><img [src]="'assets/' + job.logo" class="compLogo"></div>
          <div>
            <div class="compJobName" *ngIf="job.roles.length == 1">{{job.roles[0].title}}</div>
            <div class="compName" [class.compMultiName]="job.roles.length != 1">{{job.company}}</div>
            <div class="compDuration">{{job.duration}}</div>
          </div>
          <div></div>
          <div>
              <div class="role" *ngFor="let role of job.roles">
                <div class="roleHeader">
                  <div class="roleTitle" *ngIf="job.roles.length != 1">{{role.title}}</div>
                  <div class="roleTime">{{role.time}}</div>
                </div>
                <div class="roleInfo">
                  <ul>
                    <li *ngFor="let inf of role?.info">{{inf}}</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> 