<div class="main-content">
    <div class="mat-h1">About this Site</div>
    <div class="mat-body">
        I have created this site for 3 reasons:
        <ul>
            <li><b>It's fun!</b> - I enjoy building things and playing with technology</li>
            <li><b>To learn</b> - Learning by doing is more powerfull than just reading articles about it</li>
            <li><b>Examples</b> - Even though being 'hands-on' is rarely requried in a leadership position, it 
                helps in certain roles to have a deeper understanding and more meaningful conversations. This site and
                some of the content here, should underline my skills in certain technical areas
            </li>
        </ul>
    </div>
    <div class="mat-h2">Architecture</div>
    <div>
        <p>As of now, the site is rather simple and serves only static content. There are some more features
            I am planning, which will involve the user of backend services, but more to come. The below picture
            illustrates the current setup:
        </p>
        <img src="assets/img/site-architecture.png">
        <p>The source code is found here: <a href="https://github.com/lippisch/aboutme">https://github.com/lippisch/aboutme</a></p>
    </div>
</div>