
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
    max-width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    @media (max-width: 800px) {
        margin-top: 40px;
    }
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}